In [1]:
import pandas as pd
import math

In [2]:
# File names and directories
survey_2017_dir = 'J:/Projects/Surveys/HHTravel/Survey2017/Data/Export/Version 2/Public/'
hh_file_name = '2017-pr2-1-household.xlsx'
person_file_name = '2017-pr2-2-person.xlsx'
vehicle_file_name = '2017-pr2-3-vehicle.xlsx'
day_file_name = '2017-pr2-4-day.xlsx'
trip_file_name = '2017-pr2-5-trip.xlsx'
codebook_file_name = '2017-pr2-codebook.xlsx'
codebook_hh_name = '1-HH'
codebook_person_name = '2-PERSON'
codebook_vehicle_name = '3-VEHICLE'
codebook_day_name = '4-DAY'
codebook_trip_name = '5-TRIP'

In [3]:
#How do travel patterns differ by gender?
# by County?
# Mode Choice
# Distance to Work
# Time spent walking and biking
# Travelling with Children/purpose
# income and gender, age and whatever, employment

In [4]:
#merge_hh_person_trips

In [5]:
#apply_weights

In [6]:
#create_cross_tab_with_weights

In [7]:
#start easy, mode choice
hh = pd.read_excel(survey_2017_dir+hh_file_name, skiprows=1)
person= pd.read_excel(survey_2017_dir+person_file_name, skiprows=1)
trip = pd.read_excel(survey_2017_dir+person_file_name, skiprows=1)

In [8]:
codebook_hh = pd.read_excel(survey_2017_dir+codebook_file_name, skiprows=2, sheet_name = codebook_hh_name)
codebook_person = pd.read_excel(survey_2017_dir+codebook_file_name, skiprows=2, sheet_name = codebook_person_name)
codebook_vehicle = pd.read_excel(survey_2017_dir+codebook_file_name, skiprows=2, sheet_name = codebook_vehicle_name)
codebook_day = pd.read_excel(survey_2017_dir+codebook_file_name, skiprows=2, sheet_name = codebook_day_name)
codebook_trip = pd.read_excel(survey_2017_dir+codebook_file_name, skiprows=2, sheet_name = codebook_trip_name)

In [9]:
def make_codebook(codebook):
    var_names = pd.DataFrame(columns=['Field', 'Variable', 'Value'])
    count = 1
    var_names_dict = []
    for index, row in codebook_hh.iterrows():
        if count == 1:
            last_row = row
        elif row['Field'] == 'Valid Values':
        # the field name comes in the row befor valid values, get it
            field_name = last_row['Field']
            var_names_dict.append({'Field' : field_name, 'Variable': row['Variable'], 'Value':row['Value']})
        elif not(math.isnan(float(row['Variable']))):
        # this happens when your getting another variable value)
             var_names_dict.append({'Field' : field_name, 'Variable': row['Variable'], 'Value':row['Value']})
        last_row = row
        count = count + 1
    var_names = var_names.append(var_names_dict)
    return var_names

In [10]:
hh_var_names = make_codebook(codebook_hh)
person_var_names = make_codebook(codebook_person)
vehicle_var_names = make_codebook(codebook_vehicle)
trip_var_names = make_codebook(codebook_trip)

In [15]:
hh_var_names.head()

            Field  Variable                  Value
0         hhgroup       1.0                  rMove
1         hhgroup       2.0                rSurvey
2  sample_segment       1.0     PSRC - Regular-Low
3  sample_segment       2.0  PSRC - Regular-Medium
4  sample_segment       3.0    PSRC - Regular-High

In [13]:
# join the codebook to the variables??

,hhid,personid,pernum,sample_segment,hhgroup,traveldate,relationship,proxy_parent,proxy,age,...,wbt_bikemore_3,wbt_bikemore_4,wbt_bikemore_5,rmove_incentive,call_center,mobile_device,num_trips,nwkdays,hh_wt_revised,hh_day_wt_revised
0,17100005,1710000501,1,23,2,2017-05-24,0,NaN,1,9,...,5.0,5.0,5.0,NaN,0.0,0.0,5,1,24.441709,24.441709
1,17100005,1710000502,2,23,2,2017-05-24,1,NaN,3,10,...,NaN,NaN,NaN,NaN,0.0,0.0,3,1,24.441709,24.441709
2,17100024,1710002401,1,51,2,2017-04-12,0,NaN,1,6,...,2.0,4.0,4.0,NaN,0.0,0.0,8,1,26.224981,26.224981
3,17100024,1710002402,2,51,2,2017-04-12,1,NaN,2,6,...,5.0,5.0,5.0,NaN,0.0,0.0,4,1,26.224981,26.224981
4,17100024,1710002403,3,51,2,2017-04-12,2,NaN,3,1,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,26.224981,26.224981