These notebooks are used to compare a base and scenario, from expanded surveys or model outputs, in H5 format. To run: from the menu bar above, choose **Cell -> Run All ** or run lines individually. Use the toggle button below to hide/show the raw Python code.

## Person and Household

*Summaries:*
    - Total People & Workers
    - Household Size
    - County Population
    - Age Distribution
    - Worker Types
    - Distance to Work
    - Transit Pass Ownership
    - Vehicle Ownership
---

In [273]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

In [274]:
import os
import numpy as np
import pandas as pd
import h5py
import pylab as P
from IPython.display import display, display_pretty, Javascript, HTML
from pandas_highcharts.core import serialize
from pandas_highcharts.display import display_charts
import matplotlib.pyplot as plt

# Show charts in notebook
%pylab inline

In [275]:
# Set main model directory to parent directory

# 2006 survey
survey06_dir = r'R:\SoundCast\releases\TransportationFutures2010\scripts\summarize'

# 2014 survey
survey14_dir = r'R:\SoundCast\releases\TransportationFutures2010\scripts\summarize'

In [276]:
# Read Model Scenario Results
scen = h5py.File(survey06_dir + r'/survey.h5','r+')
scen_name = '2006 Survey'

In [277]:
# Read Base Data
base_file = r'/survey14.h5'
base_dir = survey14_dir

base = h5py.File(base_dir + base_file ,'r+')
base_name = '2014 Survey'

In [278]:
def build_df(h5file, h5table, var_dict, survey_file=False):
    ''' Convert H5 into dataframe '''
    data = {}
    if survey_file:
        # survey h5 have nested data structure, different than daysim_outputs
        for col_name, var in var_dict.iteritems():
            data[col_name] = [i[0] for i in h5file[h5table][var][:]]
    else:
        for col_name, var in var_dict.iteritems():
            data[col_name] = [i for i in h5file[h5table][var][:]]

    return pd.DataFrame(data)

In [279]:
tripdict={'Household ID': 'hhno',
            'Person Number': 'pno',
            'Travel Time':'travtime',
            'Travel Cost': 'travcost',
            'Travel Distance': 'travdist',
            'Mode': 'mode',
            'Purpose':'dpurp',
            'Departure Time': 'deptm',
            'Expansion Factor': 'trexpfac'}

In [280]:
trip_scen = build_df(h5file=scen, h5table='Trip', var_dict=tripdict, survey_file=True)
trip_base = build_df(h5file=base, h5table='Trip', var_dict=tripdict, survey_file=True)

In [281]:
persondict={'Household ID': 'hhno',
            'Person Number': 'pno',
            'Transit Pass': 'ptpass',
            'Auto Time to Work': 'pwautime',
            'Auto Distance to Work': 'pwaudist',
            'Worker Type': 'pwtyp',
            'Student Type': 'pstyp',
            'Usual Commute Mode': 'pwtaz',
            'Workplace TAZ': 'pwtaz',
            'Age': 'pagey',
            'Person Type': 'pptyp',
            'Expansion Factor': 'psexpfac'}

In [282]:
person_scen = build_df(h5file=scen, h5table='Person', var_dict=persondict, survey_file=True)
person_base = build_df(h5file=base, h5table='Person', var_dict=persondict, survey_file=True)

In [283]:
# Create unique ID for person by concatenating household ID and person number 
person_scen['personID'] = (person_scen['Household ID'].astype('str')+person_scen['Person Number'].astype('str')).astype('int')
person_base['personID'] = (person_base['Household ID'].astype('str')+person_base['Person Number'].astype('str')).astype('int')

In [284]:
hhdict={'Household ID': 'hhno',
        'Household Size': 'hhsize',
        'Household Vehicles': 'hhvehs',
        'Household Workers': 'hhwkrs',
        'Household Income': 'hhincome',
        'Household TAZ': 'hhtaz',
        'Expansion Factor': 'hhexpfac'}

In [285]:
hh_scen = build_df(h5file=scen, h5table='Household', var_dict=hhdict, survey_file=True)
hh_base = build_df(h5file=base, h5table='Household', var_dict=hhdict, survey_file=True)

In [286]:
# Add labels for worker type
labels = {
  0: "Not a worker",  
  1: "Full-time worker",
  2: "Part-time worker",
}

person_base['Worker Type'] = ([labels[x] for x in person_base['Worker Type']])
person_scen['Worker Type'] = ([labels[x] for x in person_scen['Worker Type']])

In [287]:
# # Add labels for student type
# labels = {
#   0: "Not a student",  
#   1: "Full-time student",
#   2: "Part-time student",
# }

# person_base['Student Type'] = ([labels[x] for x in person_base['Student Type']])
# person_scen['Student Type'] = ([labels[x] for x in person_scen['Student Type']])

In [288]:
# Join household records to person records
hh_per_scen = pd.merge(left=person_scen, right=hh_scen,on='Household ID',suffixes=('_p','_h'))
hh_per_base = pd.merge(left=person_base, right=hh_base,on='Household ID',suffixes=('_p','_h'))

In [289]:
# Join household geography
taz_geog = pd.read_csv(r'utils/taz_lookup.csv')
taz_geog.reindex
hh_per_scen_home_geog = pd.merge(hh_per_scen, taz_geog, left_on='Household TAZ', right_on='TAZ')
hh_per_base_home_geog = pd.merge(hh_per_base, taz_geog, left_on='Household TAZ', right_on='TAZ')

In [290]:
# Join workplace geography
hh_per_scen_work_geog = pd.merge(hh_per_scen, taz_geog, left_on='Workplace TAZ', right_on='TAZ')
hh_per_base_work_geog = pd.merge(hh_per_base, taz_geog, left_on='Workplace TAZ', right_on='TAZ')

## Total People

In [291]:
print scen_name + ": "+ str(person_scen['personID'].count()).split('.')[0]
print base_name + ": "+ str(person_base['personID'].count()).split('.')[0]

2006 Survey: 10510
2014 Survey: 14250

## Average Household Size

In [292]:
print scen_name + ": "+ str(hh_scen['Household Size'].mean())
print base_name + ": "+ str(hh_base['Household Size'].mean())

2006 Survey: 2.21683189201
2014 Survey: 1.76130467013

## Household Size Distribution

In [293]:
df = pd.DataFrame([hh_scen.groupby('Household Size').count()['Household ID'],
                   hh_base.groupby('Household Size').count()['Household ID']]).T
df.columns=([scen_name,base_name])
df

                2006 Survey  2014 Survey
Household Size
1                      1544         4253
2                      1746         2444
3                       621          723
4                       613          497
5                       158          123
6                        49           37
7                         5           15
8                         5            2

In [294]:
# Distribution
df_dist = pd.DataFrame([df[scen_name]/person_scen.count()['Household ID'],
                   df[base_name]/person_base.count()['Household ID']]).T
df_dist
display_charts(df_dist, kind='bar', title='Household Size Distribution')

---

## Age Distribution

In [295]:
# 2006 survey age is continuous variable
# 2014 is categorical
from collections import OrderedDict


# lookup for 2014 names (which are averaged based on min and max of bin)
age_cat = OrderedDict([(2, '   <5'),
           (8, ' 5-11'),
           (14, '12-15'),
           (17, '16-17'),
          (21, '18-24'),
          (30, '25-34'),
          (40, '35-44'),
          (50, '44-54'),
          (60, '55-64'),
          (70, '65-74'),
          (80, '75-84'),
          (90, '85+')])


person_base['Age'] = [age_cat[x] for x in person_base['Age'].as_matrix()]

In [296]:
# convert 2006 into categorical
age_bins = [0,4,11,15,17,24,34,44,54,64,74,84,1000]
person_scen['Age'] = pd.cut(person_scen['Age'],age_bins,labels=age_cat.values())

In [297]:
df = pd.DataFrame([person_scen.groupby('Age').count()['Household ID'],
                   person_base.groupby('Age').count()['Household ID']]).T
df.columns=([scen_name,base_name])
df

       2006 Survey  2014 Survey
Age
   <5          569          667
 5-11          860          691
12-15          492          382
16-17          259          192
18-24          390         1911
25-34          878         2759
35-44         1572         1931
44-54         2002         1765
55-64         1840         2004
65-74          918         1306
75-84          564          493
85+            145          149

In [298]:
# Distribution
df_new = pd.DataFrame([df[scen_name]/df[scen_name].sum(),
             df[base_name]/df[base_name].sum()]).T
df_new

display_charts(df_new, title='Age', kind='bar')

---

## Workers Types

In [299]:
df = pd.DataFrame([person_scen.groupby('Worker Type').count()['personID'],
                   person_base.groupby('Worker Type').count()['personID']]).T
df.columns=([scen_name,base_name])
df

                  2006 Survey  2014 Survey
Worker Type
Full-time worker         4285         6805
Not a worker             5160         6192
Part-time worker         1065         1253

---

** Distribution of Worker Types**

In [300]:
# Distribution
df_dist = pd.DataFrame([df[scen_name]/person_scen.count()['personID'],
                   df[base_name]/person_base.count()['personID']]).T

In [301]:
display_charts(df_dist, kind='bar', title='Worker Type Distribution')

---

## Workers by County

In [302]:
hh_per_scen_work_geog

,Age,Auto Distance to Work,Auto Time to Work,Expansion Factor_p,Household ID,Person Number,Person Type,Student Type,Transit Pass,Usual Commute Mode,...,Household Size,Household TAZ,Household Vehicles,Household Workers,TAZ,TAD,OldDistric,County,District,New DistrictName
0,37,17.28,42.14,324.86,2001,1,1,0,1,515,...,1,1309,1,1,515,11,11,King,4,Seattle CBD
1,54,11.66,32.44,255.38,10241,1,1,0,0,515,...,2,1528,2,2,515,11,11,King,4,Seattle CBD
2,57,1.33,14.69,118.64,10463,1,1,0,0,515,...,2,631,2,2,515,11,11,King,4,Seattle CBD
3,57,11.64,32.60,387.43,14519,1,1,0,0,515,...,3,1560,4,3,515,11,11,King,4,Seattle CBD
4,56,7.28,18.06,235.72,14750,1,1,0,1,515,...,2,70,0,2,515,11,11,King,4,Seattle CBD
5,35,3.04,19.06,151.89,17814,1,1,0,0,515,...,2,592,3,2,515,11,11,King,4,Seattle CBD
6,56,1.91,14.78,129.55,17834,1,1,0,0,515,...,2,424,1,2,515,11,11,King,4,Seattle CBD
7,50,14.35,34.85,304.73,19878,1,1,0,0,515,...,2,1449,3,2,515,11,11,King,4,Seattle CBD
8,30,18.33,261.89,313.34,22635,2,1,0,1,515,...,4,3659,2,2,515,11,11,King,4,Seattle CBD
9,37,4.41,16.20,734.04,23816,2,1,0,0,515,...,2,284,0,2,515,11,11,King,4,Seattle CBD
10,45,35.46,263.18,95.22,24088,1,1,0,0,515,...,2,3566,2,2,515,11,11,King,4,Seattle CBD
11,50,3.46,17.74,94.76,27412,1,1,0,1,515,...,1,668,1,1,515,11,11,King,4,Seattle CBD
12,57,23.92,58.14,347.98,30608,2,1,0,1,515,...,2,1085,3,2,515,11,11,King,4,Seattle CBD
13,50,27.24,62.10,-1.00,30631,1,1,0,1,515,...,1,1203,1,1,515,11,11,King,4,Seattle CBD
14,50,6.96,29.11,124.16,31639,2,1,0,0,515,...,2,677,2,2,515,11,11,King,4,Seattle CBD
15,57,13.68,40.35,115.67,32620,1,1,0,1,515,...,2,2646,2,2,515,11,11,King,4,Seattle CBD
16,56,22.78,61.83,-1.00,32773,1,1,0,1,515,...,2,2402,3,2,515,11,11,King,4,Seattle CBD
17,38,4.37,26.74,145.43,41820,2,1,0,0,515,...,4,392,2,2,515,11,11,King,4,Seattle CBD
18,50,5.80,26.05,249.91,41958,2,1,0,0,515,...,5,297,2,2,515,11,11,King,4,Seattle CBD
19,40,11.74,37.66,306.14,47349,1,1,0,1,515,...,1,997,2,1,515,11,11,King,4,Seattle CBD
20,59,2.56,15.40,182.55,50405,1,2,0,0,515,...,3,399,3,3,515,11,11,King,4,Seattle CBD
21,59,2.56,15.40,182.55,50405,2,1,0,0,515,...,3,399,3,3,515,11,11,King,4,Seattle CBD
22,39,8.09,25.64,142.51,50987,2,1,0,1,515,...,4,103,2,2,515,11,11,King,4,Seattle CBD
23,42,9.88,32.47,259.70,51174,1,1,0,1,515,...,4,895,3,2,515,11,11,King,4,Seattle CBD
24,32,18.38,49.31,389.70,51996,2,1,0,1,515,...,4,1935,2,2,515,11,11,King,4,Seattle CBD
25,52,14.86,45.31,481.30,52735,1,1,0,1,515,...,1,1396,1,1,515,11,11,King,4,Seattle CBD
26,64,8.32,31.37,356.76,2006,3,1,0,0,1026,...,3,916,1,3,1026,23,5,King,7,Renton-FedWay-Kent
27,42,13.49,42.15,379.96,7564,1,1,0,0,1026,...,4,1109,3,2,1026,23,5,King,7,Renton-FedWay-Kent
28,41,17.53,43.15,371.18,7640,2,1,0,0,1026,...,4,1508,2,2,1026,23,5,King,7,Renton-FedWay-Kent
29,53,18.84,47.56,300.98,10632,2,1,0,0,1026,...,2,1522,2,2,1026,23,5,King,7,Renton-FedWay-Kent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4446,55,3.15,14.17,113.84,49185,2,1,0,0,58,...,4,27,2,4,58,5,13,King,3,North Seattle-Shoreline
4447,57,6.33,26.97,215.94,49295,1,1,0,0,386,...,3,42,2,3,386,9,12,King,4,Seattle CBD
4448,44,3.96,21.66,140.52,50489,2,2,0,0,386,...,4,334,2,2,386,9,12,King,4,Seattle CBD
4449,19,0.85,5.39,619.45,49396,3,5,1,0,2036,...,4,2036,2,4,2036,32,5,King,7,Renton-FedWay-Kent
4450,28,24.63,50.70,302.17,49437,2,1,0,0,1857,...,3,1450,3,3,1857,58,14,King,3,North Seattle-Shoreline
4451,43,9.55,34.37,135.38,49491,2,1,0,0,83,...,6,603,2,2,83,3,13,King,3,North Seattle-Shoreline
4452,40,4.77,22.77,106.54,49763,1,1,0,0,440,...,3,637,2,3,440,9,12,King,4,Seattle CBD
4453,51,10.26,33.20,232.74,49775,1,1,0,0,314,...,4,677,3,3,314,7,13,King,3,North Seattle-Shoreline
4454,58,1.32,6.46,224.42,49873,2,1,0,0,1269,...,4,1268,3,4,1269,35,5,King,7,Renton-FedWay-Kent
4455,54,20.57,42.97,152.46,50319,2,1,0,0,1778,...,3,132,3,2,1778,60,9,King,6,East Side
4456,49,3.92,19.78,140.15,50327,2,1,0,0,340,...,4,137,3,2,340,9,12,King,4,Seattle CBD
4457,51,1.35,8.14,136.05,50560,1,1,0,0,416,...,3,419,2,2,416,10,12,King,4,Seattle CBD
4458,53,0.27,3.09,171.91,50567,1,1,0,0,64,...,4,64,3,3,64,5,13,King,3,North Seattle-Shoreline
4459,29,6.38,27.04,202.47,50596,2,1,0,0,369,...,3,716,3,3,369,10,12,King,4,Seattle CBD
4460,36,0.27,5.10,202.47,50596,3,1,0,0,716,...,3,716,3,3,716,14,10,King,5,West-South Seattle
4461,37,3.37,15.47,133.21,50684,2,2,0,0,66,...,4,15,2,2,66,5,13,King,3,North Seattle-Shoreline
4462,35,0.70,6.64,157.47,50828,1,2,0,0,348,...,4,349,3,2,348,8,12,King,4,Seattle CBD
4463,45,5.28,21.90,130.00,51071,2,1,0,1,487,...,3,169,2,2,487,11,11,King,4,Seattle CBD
4464,58,0.49,5.43,149.62,51213,1,1,0,0,167,...,1,169,2,1,167,6,13,King,3,North Seattle-Shoreline
4465,53,16.21,51.77,326.54,51400,2,1,0,0,330,...,4,1718,2,3,330,6,13,King,3,North Seattle-Shoreline
4466,37,25.12,55.60,386.22,51406,1,1,0,0,1748,...,5,1302,2,2,1748,61,9,King,6,East Side
4467,34,10.93,30.30,386.22,51406,2,1,2,0,1392,...,5,1302,2,2,1392,40,7,King,6,East Side
4468,20,2.89,12.65,437.92,51408,3,5,1,1,1173,...,4,1197,4,4,1173,30,4,King,7,Renton-FedWay-Kent
4469,64,4.98,22.70,98.36,51566,1,1,0,0,79,...,1,15,1,1,79,3,13,King,3,North Seattle-Shoreline
4470,36,15.26,42.01,667.25,51833,1,1,0,0,950,...,4,1319,2,3,950,22,6,King,7,Renton-FedWay-Kent
4471,41,11.40,37.00,278.85,51994,2,2,0,0,284,...,4,1506,2,2,284,7,13,King,3,North Seattle-Shoreline
4472,35,9.23,30.75,301.21,51997,1,2,0,0,1651,...,5,1889,2,2,1651,53,9,King,6,East Side
4473,19,14.65,39.65,391.26,52112,3,5,1,0,1545,...,4,1961,2,4,1545,50,8,King,6,East Side
4474,57,5.62,18.72,383.18,52180,1,1,0,1,1662,...,2,1621,2,2,1662,52,9,King,6,East Side
4475,56,27.01,41.29,383.18,52180,2,1,0,0,1991,...,2,1621,2,2,1991,39,7,King,6,East Side

In [303]:
# Workers by Workplace County

scen_workers = hh_per_scen_work_geog[hh_per_scen_work_geog['Worker Type'] <> 'Not a worker']
base_workers = hh_per_base_work_geog[hh_per_base_work_geog['Worker Type'] <> 'Not a worker']

df = scen_workers.groupby('County').count()['personID']
df=df[df.index<>0]
df=pd.DataFrame(df)
df.columns=[scen_name]

df_base = base_workers.groupby('County').count()['personID']
df_base=df_base[df_base.index<>0]
df[base_name]=df_base
df

# Also add in the CTPP here
# 2006-2010 CTPP

ctpp_workers = {'King':53625,'Kitsap':6475,'Pierce':15705,'Snohomish':15810}

df['CTPP 06-10'] = pd.DataFrame(ctpp_workers.values(),index=ctpp_workers.keys())

In [304]:
df

           2006 Survey  2014 Survey  CTPP 06-10
County
King              3056         4488       53625
Kitsap             393          254        6475
Pierce             475          720       15705
Snohomish          549          626       15810

In [305]:
# Distribution
df_dist = pd.DataFrame([df[scen_name]/df[scen_name].sum(),
                       df[base_name]/df[base_name].sum(),
                       df['CTPP 06-10']/df['CTPP 06-10'].sum()]).T

In [306]:
display_charts(df_dist, kind='bar', title='Worker Distribution by County')

---

## Distance to Work

In [307]:
# Filter out non-workers
scen_df = (person_scen[person_scen['Worker Type'] <> 'Not a worker'])
base_df = (person_base[person_base['Worker Type'] <> 'Not a worker'])

df = pd.DataFrame([scen_df.groupby('Age').mean()['Auto Distance to Work'],
              base_df.groupby('Age').mean()['Auto Distance to Work']]).T
df.columns=([scen_name,base_name])
df.fillna(0,inplace=True)
df

       2006 Survey  2014 Survey
   <5     0.000000            0
 5-11     0.000000            0
12-15     0.000000            0
16-17     3.865185            1
18-24     8.319750            1
25-34    10.625236            1
35-44    10.303467            1
44-54    10.104780            1
55-64     9.807923            1
65-74     8.225459            1
75-84     6.801481            1
85+       7.649737            1

In [308]:
display_charts(df, title='Distance to Work', kind='bar')

---

## Transit Pass Ownership

In [309]:
df = pd.DataFrame([person_scen.groupby('Transit Pass').mean()['Auto Distance to Work'],
              person_base.groupby('Transit Pass').mean()['Auto Distance to Work']]).T
df.columns=([scen_name,base_name])

In [310]:
df.index = ['No Pass', 'Transit Pass']
df

              2006 Survey  2014 Survey
No Pass          4.142860          NaN
Transit Pass     7.484511            1

---

## Auto Ownership

In [311]:
new_hh_scen = hh_scen[hh_scen.index>=0]
df = pd.DataFrame([new_hh_scen.groupby('Household Vehicles').count()['Household ID'],
                   hh_base.groupby('Household Vehicles').count()['Household ID']]).T
df.columns=([scen_name,base_name])
df=df[df.index>=0]
df

                    2006 Survey  2014 Survey
Household Vehicles
0                           219         1412
1                          1576         3331
2                          1914         2063
3                           712          613
4                           207          200
5                            76           58
6                            24            9
7                             6            9
8                             5            4
9                             1          NaN
10                            1            2

In [312]:
# Distribution
df_new = pd.DataFrame([df[scen_name]/df[scen_name].sum(),
             df[base_name]/df[base_name].sum()]).T

In [313]:
display_charts(df_new, title='Vehicles per Household', kind='bar', xlim=(0,6))

### Auto Ownership by Income

In [314]:
# Create common income ranges
def map_income(df, in_field, out_field):
    
    # Define categories
    incmap = {}
    for i in range(0, 20000):
        incmap.update({i: ' <20k'})
    for i in range(20000, 40000):
        incmap.update({i: '20k-40k'})
    for i in range(40000, 60000):
        incmap.update({i: '40k-60k'})
    for i in range(60000, 75000):
        incmap.update({i: '60k-75k'})
    for i in range(75000, 100000):
        incmap.update({i: '75k-100k'})
    for i in range(100000, 150000):
        incmap.update({i: '100k-150k'})
    for i in range(150000, int(df[in_field].max())+1):
        incmap.update({i: '>150k'})

    df[out_field] = df[in_field].map(incmap)
    return df

In [315]:
hh_scen = map_income(hh_scen, in_field='Household Income', out_field='Income')
hh_base = map_income(hh_base, in_field='Household Income', out_field='Income')

In [316]:
hh_base.groupby('Household Income').count()

,Expansion Factor,Household ID,Household Size,Household TAZ,Household Vehicles,Household Workers,Income
Household Income,,,,,,,
-1,2524,2524,2524,2524,2524,2524,0
5000,225,225,225,225,225,225,225
12500,14,14,14,14,14,14,14
17500,513,513,513,513,513,513,513
30000,455,455,455,455,455,455,455
37500,42,42,42,42,42,42,42
40000,642,642,642,642,642,642,642
62500,1035,1035,1035,1035,1035,1035,1035
87500,862,862,862,862,862,862,862
125000,994,994,994,994,994,994,994
175000,471,471,471,471,471,471,471
225000,159,159,159,159,159,159,159
275000,158,158,158,158,158,158,158

In [317]:
df_scen = pd.pivot_table(data=hh_scen, index='Household Vehicles', columns=['Income'], 
                    aggfunc='count', fill_value=False, margins=True)['Household ID']
df_base = pd.pivot_table(data=hh_base, index='Household Vehicles', columns=['Income'], 
                    aggfunc='count', fill_value=False, margins=True)['Household ID']

# Sort the columns
df_scen = df_scen[[' <20k','20k-40k','40k-60k','60k-75k',
                   '75k-100k','100k-150k','>150k']]
df_base = df_base[[' <20k','20k-40k','40k-60k','60k-75k',
                   '75k-100k','100k-150k','>150k']]

In [318]:
df_scen

Income,<20k,20k-40k,40k-60k,60k-75k,75k-100k,100k-150k,>150k
Household Vehicles,,,,,,,
0,100,66,29,7,3,1,1
1,195,411,382,128,183,83,26
2,41,165,337,183,478,307,166
3,8,47,129,65,183,132,74
4,1,12,25,23,57,43,16
5,0,5,11,5,17,18,6
6,1,2,2,1,3,4,3
7,0,0,0,0,2,2,1
8,0,0,0,0,1,3,0
9,0,0,0,0,0,1,0
10,0,0,0,0,0,1,0
All,346,708,915,412,927,595,293

---