In [1]:
import pandas as pd
import pyodbc
# File names and directories
#survey_dir = 'J:/Projects/Surveys/HHTravel/Survey2019/Data/Dataset_24_January_2020/PSRC_2019_HTS_Deliverable_012420/PSRC_2019_HTS_Deliverable_012420/Weighted_Dataset_012420/'
#hh_file_name = '1_household.csv'
#person_file_name = '2_person.csv'
#vehicle_file_name = '3_vehicle.csv'
#day_file_name = '4_day.csv'
#trip_file_name = '5_trip.csv'

sql_conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=AWS-PROD-SQL\COHO;DATABASE=HouseholdTravelSurvey2019;trusted_connection=true')
trip_table_name = "HHSurvey.Trip"
trip  = pd.read_sql('SELECT * FROM '+trip_table_name, con = sql_conn)

hh_weight_2017 = 'hh_wt_revised'
hh_weight_2019 = 'hh_wt_2019'
hh_weight_combined = 'hh_wt_combined'
hh_weight_names =[hh_weight_2017, hh_weight_2019, hh_weight_combined]

day_weight_2017 = 'hh_day_wt_revised'
day_weight_2019 = 'hh_day_wt_2019'
day_weight_combined = 'hh_day_wt_combined'
day_weight_names =[day_weight_2017, day_weight_2019, day_weight_combined]

trip_weight_2017 = 'trip_weight_2017_new'
trip_weight_2019 ='trip_weight_2019'
trip_weight_combined = 'trip_weight_combined'
trip_weight_names =[trip_weight_2017, trip_weight_2019, trip_weight_combined]

codebook_file = 'Combined_Codebook_012420.xlsx'
output_file_hh = 'C:/Users/SChildress/Documents/GitHub/travel-studies/2019/summary/hh_summary_elmer.xlsx'
output_file_person= 'C:/Users/SChildress/Documents/GitHub/travel-studies/2019/summary/person_summary_elmer.xlsx'
output_file_day= 'C:/Users/SChildress/Documents/GitHub/travel-studies/2019/summary/day_summary_elmer.xlsx'
output_file_trip= 'C:/Users/SChildress/Documents/GitHub/travel-studies/2019/summary/trip_summary_elmer.xlsx'

In [2]:
def merge_hh_person_trip(hh,person,trip):
    hh_person =pd.merge(hh, person, on= 'hhid', suffixes=['', 'person'], how ='right')
    hh_person_trip = pd.merge(hh_person, trip,on='personid', suffixes=['','trip'], how ='right')
    return hh_person_trip

def merge_hh_person(hh, person):
    hh_person =pd.merge(hh, person, on= 'hhid', suffixes=['', 'person'], how ='right')
    return hh_person

In [3]:
hh = pd.read_csv(survey_dir+hh_file_name, encoding = 'latin-1')
person= pd.read_csv(survey_dir+person_file_name, encoding = 'latin-1')
trip = pd.read_csv(survey_dir+trip_file_name, encoding = 'latin-1')
day= pd.read_csv(survey_dir+day_file_name, encoding='latin-1')

C:\Users\SChildress\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (8,44,45,53,56,57,65,72,73,81) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\SChildress\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0,10,11,20,24,37,39,106,112,118,120,121,128) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\SChildress\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (14,15,21,23,34,45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
codebook_values = pd.read_excel(survey_dir+codebook_file, sheetname='Values')
codebook_variables =pd.read_excel(survey_dir+codebook_file, sheet_name='Data Overview')

C:\Users\SChildress\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

In [5]:
person_detail = merge_hh_person(hh, person)
trip_detail = merge_hh_person_trip(hh, person, trip)

In [6]:
trip_detail['trip_weight_combined'] = trip_detail['hh_day_wt_combined']*trip_detail['trip_wt']
trip_detail['trip_weight_2017_new'] =trip_detail['hh_day_wt_revised']*trip_detail['trip_wt']
trip_detail['trip_weight_2019'] =trip_detail['hh_day_wt_2019']*trip_detail['trip_wt']

In [18]:
trip_detail.head()

,recid,hhid,survey_year,cityofredmond,cityofseattle,psrc,hhgroup,sample_segment,sample_lat,sample_lng,...,user_added,analyst_split_loop,quality_flag,nwkdaystrip,hh_day_wt_revisedtrip,trip_weight_revised,trip_wt,trip_weight_combined,trip_weight_2017_new,trip_weight_2019
0,NaN,17100005,2017,1.0,0,0,2,23,NaN,NaN,...,NaN,NaN,NaN,1.0,24.441709,28.107965,1.377205,50.484257,33.661240,0.0
1,NaN,17100005,2017,1.0,0,0,2,23,NaN,NaN,...,NaN,NaN,NaN,1.0,24.441709,28.107965,2.000000,73.314085,48.883418,0.0
2,NaN,17100005,2017,1.0,0,0,2,23,NaN,NaN,...,NaN,NaN,NaN,1.0,24.441709,28.107965,1.377205,50.484257,33.661240,0.0
3,NaN,17100005,2017,1.0,0,0,2,23,NaN,NaN,...,NaN,NaN,NaN,1.0,24.441709,28.107965,1.377205,50.484257,33.661240,0.0
4,NaN,17100005,2017,1.0,0,0,2,23,NaN,NaN,...,NaN,NaN,NaN,1.0,24.441709,28.107965,1.377205,50.484257,33.661240,0.0

In [7]:
person_detail['hh_wt_revised'].sum()

3846534.75774668

In [8]:
person_detail['hh_wt_2019'].sum()

4000379.576593959

In [9]:
person_detail['hh_wt_combined'].sum()

4038366.9649513243

In [10]:
trip_detail['trip_weight_2017_new'].sum()

20640065.439464726

In [11]:
trip_detail['trip_weight_combined'].sum()

22541151.842166528

In [12]:
trip_detail['trip_weight_2019'].sum()

23050450.69337095

In [13]:
trip_detail['trip_weight_revised'].sum()

12359732.697588062

In [14]:
def compare_weighted_table(codebook_values, dataset, item, weight_names):
    dataset=dataset.dropna(subset=[item]).reset_index()
    grouped_total=dataset.groupby(item).sum()[weight_names].reset_index()
    for weight_name in weight_names:
        grouped_sum = grouped_total.sum()[weight_name]
        grouped_total[weight_name+'_share']=grouped_total[weight_name]/grouped_sum
   

   
    values=codebook_values.loc[codebook_values['variable']==item]
    variable =codebook_variables.loc[codebook_variables['variable']==item, 'description'].values[0]
    missing_values_df = pd.DataFrame({'variable': [item, item, item],'value':[-9999,-9998, 995], 'label':
                                     ['Missing:Technical Error', 'Missing: Non-response', 'Missing:Skip logic']})
    values = values.append(missing_values_df)
    summary=pd.merge(values, grouped_total,left_on='value', right_on=item)
    summary['variable']=variable

    return summary

In [23]:
hh_vars =['final_home_rgcnum', 'hhsize', 'hhincome_broad', 'prev_res_factors_housing_cost', 'prev_res_factors_income_change']
person_vars=['age', 'gender', 'worker', 'race_afam', 'race_asian', 'mode_freq_1', 'mode_freq_2', 'av_concern_1']
day_vars =['delivery_pkgs_freq', 'num_trips']
trip_vars =['d_purpose', 'd_purp_cat', 'mode_1', 'mode_acc' ]

with pd.ExcelWriter(output_file_hh) as writer:  
    for hh_var in hh_vars:
        compare_weighted_table(codebook_values, hh, hh_var, hh_weight_names).to_excel(writer,sheet_name=hh_var)
        
with pd.ExcelWriter(output_file_person) as writer:  
    for person_var in person_vars:
        compare_weighted_table(codebook_values, person, person_var,hh_weight_names).to_excel(writer,sheet_name=person_var)
        
with pd.ExcelWriter(output_file_day) as writer:  
    for day_var in day_vars:
        compare_weighted_table(codebook_values, day, day_var, day_weight_names).to_excel(writer,sheet_name=day_var)
        
with pd.ExcelWriter(output_file_trip) as writer:  
    for trip_var in trip_vars:
        compare_weighted_table(codebook_values, trip_detail, trip_var, trip_weight_names).to_excel(writer,sheet_name=trip_var)